<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :status %>
    <%= f.association :owner %>
    <%= f.input :city %>
    <%= f.input :street %>
    <%= f.input :landmark %>
    <%= f.input :phonenumber %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
    <%= f.file_field :photos, multiple: true %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
