<tr class="pricing-list-item pattern">
<td>
    <div class="fm-input pricing-name">
    <%= f.input_field :name, placeholder: "Name" %>
    </div>
    <div class="fm-input pricing-name">
      <%= f.input_field :price, placeholder: "Price" %>
    </div>
      <div class="fm-input pricing-name">
       <%= f.input :category_ids, collection: Category.all, input_html: { class: 'chosen-select', multiple: true}, label: false%>
    </div>
      <div class="fm-input pricing-name">
            <%= f.input_field :start_time, placeholder: "Start Time", as: :string, id: "booking-time"%>
    </div>
    <div class="fm-input pricing-ingredients date0">
        <%= f.select_recurring :recurring%>
   </div>
</td>
</tr>
