<!-- Banner
================================================== -->

<div class="main-search-container dark-overlay" data-background-image="<%= image_url 'landing-page-background.png'%>">
  <div class="main-search-inner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Find Nearby Workouts</h2>
          <h4>Expolore top-rated classes, activities and more</h4>

          <div class="main-search-input">
            <div class="main-search-input-item">
              <!-- <input type="text" placeholder="Beirut" value=""/> -->
          <%= form_tag('/categories',:method=>:get) do %>

           <%= select_tag "location", options_for_select(Listing.distinct.pluck(:city).reverse), class: "chosen-select" %>

              <!-- <a href="#"><i class="fa fa-dot-circle-o"></i></a> -->
            </div>
              <div class="main-search-input-item">
                      <%= select_tag "id", options_from_collection_for_select(Category.all, "id", "name"), class: "chosen-select" %>
              </div>
              <%= button_tag "Search", class: "button" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- Content
================================================== -->

<!-- Listings -->
<div class="container margin-top-70">
    <div class="row">

        <div class="col-md-12">
            <h3 class="headline centered margin-bottom-45">
                Upcoming Fitness Classes
              <%if @day.day == Time.now.day%>
                Today!
              <%else%>
                Tomorrow!
              <%end%>
                <span>Book to end today with a better you.</span>
            </h3>
        </div>

        <div class="col-md-12">
            <div class="simple-slick-carousel dots-nav">
            <%@dayclass.each do |lesson|%>
            <!-- Listing Item -->
                <div class="carousel-item">
              <% if user_signed_in? %>
                  <%=render 'layouts/book', lesson: lesson, day: @day%>
              <% end %>

                    <div class="listing-item-container">
                        <div class="listing-item">
                          <% unless lesson.listing.listing_photos.empty? %>
                          <%= cl_image_tag lesson.listing.listing_photos.first.photo, height: 300, width: 400, crop: :fill %>
                          <%else%>
                          <%=image_tag "main.png"%>
                          <%end%>
                          <%if @day.day == Time.now.day%>
                              <% s = lesson.start_time.hour - Time.now.hour %>
                          <%else%>
                              <% s = 24 - Time.now.hour + lesson.start_time.hour %>
                          <%end%>
                            <div class="listing-badge now-open">in <%=s%> hours</div>
                            <div class="listing-item-content">
                                <h3><%=lesson.name%></h3>
                                <span>
                              <%=lesson.city%> <%= lesson.street%>
                                </span>
                            </div>
                          <% if user_signed_in? %>
                              <span class="like-icon sign-in popup-with-zoom-anim" href="#book<%=lesson.id%>"></span>
                          <% else %>
                              <span class="like-icon sign-in popup-with-zoom-anim" href="#sign-in-dialog"></span>
                          <%end%>
                        </div>
<!--                         <div class="star-rating" data-rating="3.5">
                            <div class="rating-counter">(12 reviews)</div>
                        </div>
 -->                    </div>
                </div>


            <%end%>
            <!-- Listing Item / End -->

            </div>

        </div>

    </div>
</div>
<!-- Listings / End -->


<!-- Container -->


<!-- Flip banner -->
<a href="/listings" class="flip-banner parallax margin-top-65" data-background="<%= image_url "home.png"%>" data-color="#f91942" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">

    <div class="flip-banner-content">
        <h2 class="flip-visible">Expolore all Workouts and fitness classes nearby</h2>
        <h2 class="flip-hidden">Browse workouts <i class="sl sl-icon-arrow-right"></i></h2>
    </div>
</a>
<!-- Flip banner / End -->


<!-- Scripts
================================================== -->

<!-- Style Switcher
================================================== -->

<!-- <div id="style-switcher">
    <h2>Color Switcher <a href="#"><i class="sl sl-icon-settings"></i></a></h2>

    <div>
        <ul class="colors" id="color1">
            <li><a href="#" class="main" title="Main"></a></li>
            <li><a href="#" class="blue" title="Blue"></a></li>
            <li><a href="#" class="green" title="Green"></a></li>
            <li><a href="#" class="orange" title="Orange"></a></li>
            <li><a href="#" class="navy" title="Navy"></a></li>
            <li><a href="#" class="yellow" title="Yellow"></a></li>
            <li><a href="#" class="peach" title="Peach"></a></li>
            <li><a href="#" class="beige" title="Beige"></a></li>
            <li><a href="#" class="purple" title="Purple"></a></li>
            <li><a href="#" class="celadon" title="Celadon"></a></li>
            <li><a href="#" class="red" title="Red"></a></li>
            <li><a href="#" class="brown" title="Brown"></a></li>
            <li><a href="#" class="cherry" title="Cherry"></a></li>
            <li><a href="#" class="cyan" title="Cyan"></a></li>
            <li><a href="#" class="gray" title="Gray"></a></li>
            <li><a href="#" class="olive" title="Olive"></a></li>
        </ul>
    </div>

</div>
 --><!-- Style Switcher / End -->
<!-- <section id="header">
    <div class="container center">
        <div class="ui search">

          <div class="ui icon input">
            <input class="prompt" id="demo-search" type="text" placeholder="Search for listings or categories">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
    </div>
    <%= render "shared/algolia_scripts" %>
</section>
            <div class="search-bar">
                <form>
                    <input type="text" name="location" placeholder="Enter your location">
                    <input type="text" name="search" placeholder="Search for fitness studios or facilities...">
                    <input type="submit" value="Search">
                </form>
            </div>
 -->
 <%= render 'shared/footer' %>

