<h2>Change your password</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!-- Wrapper -->
<div id="wrapper">

<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Dashboard -->
<div id="dashboard">

  <!-- Navigation
  ================================================== -->

  <!-- Responsive Navigation Trigger -->
  <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

  <%=render 'listings/dashboard_nav'%>
  <!-- Navigation / End -->


  <!-- Content
  ================================================== -->
  <div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
      <div class="row">
        <div class="col-md-12">
          <h2>My Profile</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li>My Profile</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Profile -->
      <div class="col-lg-6 col-md-12">
        <div class="dashboard-list-box margin-top-0">
          <h4 class="gray">Profile Details</h4>
          <div class="dashboard-list-box-static">

            <!-- Avatar -->
            <div class="edit-profile-photo">
              <img src="images/user-avatar.jpg" alt="">
              <div class="change-photo-btn">
                <div class="photoUpload">
                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                    <input type="file" class="upload" />
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="my-profile">

              <label>Your Name</label>
              <input value="Tom Perrin" type="text">

              <label>Phone</label>
              <input value="(123) 123-456" type="text">

              <label>Email</label>
              <input value="tom@example.com" type="text">

              <label>Notes</label>
              <textarea name="notes" id="notes" cols="30" rows="10">Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</textarea>

              <label><i class="fa fa-twitter"></i> Twitter</label>
              <input placeholder="https://www.twitter.com/" type="text">

              <label><i class="fa fa-facebook-square"></i> Facebook</label>
              <input placeholder="https://www.facebook.com/" type="text">

              <label><i class="fa fa-google-plus"></i> Google+</label>
              <input placeholder="https://www.google.com/" type="text">
            </div>

            <button class="button margin-top-15">Save Changes</button>

          </div>
        </div>
      </div>

      <!-- Change Password -->
      <div class="col-lg-6 col-md-12">
        <div class="dashboard-list-box margin-top-0">
          <h4 class="gray">Change Password</h4>
          <div class="dashboard-list-box-static">

            <!-- Change Password -->
            <div class="my-profile">
              <label class="margin-top-0">Current Password</label>
              <input type="password">

              <label>New Password</label>
              <input type="password">

              <label>Confirm New Password</label>
              <input type="password">

              <button class="button margin-top-15">Change Password</button>
            </div>

          </div>
        </div>
      </div>


      <!-- Copyrights -->
      <div class="col-md-12">
        <div class="copyrights">© 2017 LocalFitt. All Rights Reserved.</div>
      </div>

    </div>

  </div>
  <!-- Content / End -->


</div>
<!-- Dashboard / End -->


</div>
<!-- Wrapper / End -->
