
<!-- Wrapper -->

<!-- Header Container
================================================== -->
<% if current_page?(root_path) || controller_name == "posts"%>
    <header id="header-container">
        <!-- Header -->
        <div id="header">
<% else %>
    <header id="header-container" class="fixed fullwidth">
        <!-- Header -->

        <div id="header" class="not-sticky">
<%end%>
        <div class="container">

            <!-- Left Side Content -->
            <div class="left-side">

                <!-- Logo -->
                <div id="logo">
                    <%= link_to root_path, data:{turbolinks: false} do%>
                        <%= image_tag "logo.png"%>
                    <%end%>
                </div>

                <!-- Mobile Navigation -->
                <div class="menu-responsive">
                    <i class="fa fa-reorder menu-trigger"></i>
                </div>

                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">

                        <li>
                        <%=link_to root_path, data:{turbolinks: false} do%>
                            Home
                        <%end%>

                        </li>
                        <li>
                        <%=link_to workouts_path, data:{turbolinks: false} do%>
                            Fitness classes
                        <%end%>
                        </li>
<!--
                        <li><a href="#">User Panel</a>
                            <ul>
                                <li><a href="dashboard.html">Dashboard</a></li>
                                <li><a href="dashboard-messages.html">Messages</a></li>
                                <li><a href="dashboard-my-listings.html">My Listings</a></li>
                                <li><a href="dashboard-reviews.html">Reviews</a></li>
                                <li><a href="dashboard-bookmarks.html">Bookmarks</a></li>
                                <li><a href="dashboard-add-listing.html">Add Listing</a></li>
                                <li><a href="dashboard-my-profile.html">My Profile</a></li>
                                <li><a href="dashboard-invoice.html">Invoice</a></li>
                            </ul>
                        </li>
 -->
                        <li>
<!--                             <%=link_to "Events", events_path,data:{turbolinks: false} %>
 -->                        </li>

                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->

            </div>
            <!-- Left Side Content / End -->
            <!-- Right Side Content / End -->
            <div class="right-side">
                <div class="header-widget">
                <% if !user_signed_in? %>
                    <a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> Sign In</a>
                <%else%>
                    <div class="user-menu">

                        <div class="user-name"><span>
                            <%= cl_image_tag current_user.photo,:width => 35, :height => 35, :crop => :fill%>

                            </span>
                            <%=current_user.first_name%>
                        </div>
                        <ul>
                            <li>
                                <%=link_to edit_user_registration_url do%>
                                    <i class="sl sl-icon-user"></i> My Profile
                                <%end%>
                            </li>
                            <li>
                                <%= link_to destroy_user_session_path, method: :delete do %>
                                    <i class="sl sl-icon-power"></i>  <%= t(".sign_out", default: "Log out") %>
                                <% end %>
                            </li>
                        </ul>
                    </div>


                <%end%>
                <%= link_to new_listing_url, class: "button border with-icon", data:{turbolinks: false} do %>
                        Add Listing <i class="sl sl-icon-plus"></i>
                    <%end%>
                </div>
            </div>
            <!-- Right Side Content / End -->

        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
