  <div class="portfolio">
    <!-- insert nav -->
    <%=render "nav"%>
    <main role="main">
      <div id="intro-wrap" class="full-height">
        <div id="intro" class="preload darken more-button">
          <div class="intro-item" style="background-image: url('<%= image_path "about.png"%>')">
            <div class="caption urban">
              <h2>#IAMURBAN</h2>
              <p>Urban is a series of classes held in an unique venue, like someone's studio, outdoor garden or shop. It typically features three trainers, performing three different fitness classes. Every event is specially curated by localfitt to give our community a diverse fitness experience.</p>
              <h3 style="color: #fff;">Let's Workout for a healthier and fitter Lebanon</h3>
            </div><!-- caption -->
          </div>
        </div><!-- intro -->
      </div><!-- intro-wrap -->

  <div id="main" class="row">
    <section class="row section text-light" style="background-color: #fff">
      <div class="row-content buffer even clear-after">
        <div class="column four centertxt">
          <div class="big-icon red"><%=image_tag "ticket.png"%></div>
          <div class="big-icon-text clear-after">
            <h4 style="color: #000">1. APPLY FOR TICKET</h4>
            <p class="text-s" style="color: #000">Apply for a ticket through our page by going to Events and RSVP your sport but clicking on the attend button. You will be notified with the address at least a day before, including all the info you need for attending.</p>
          </div>
        </div>
        <div class="column four centertxt">
          <div class="big-icon red"><%=image_tag "selected.png"%></div>
          <div class="big-icon-text clear-after">
            <h4 style="color: #000">2. GET SELECTED</h4>
            <p class="text-s" style="color: #000">After registering for the event you will be set up for selection. Only a limited number of participants will be selected. If selected, you'll receive an email to confirm your attendance, please confirm a soon as possible not to risk losing your spot.</p>
          </div>
        </div>
        <div class="column four last centertxt">
          <div class="big-icon red"><%=image_tag "infogo.png"%></div>
          <div class="big-icon-text clear-after">
            <h4 style="color: #000">3. GET INFO AND GO</h4>
            <p class="text-s" style="color: #000">After purchasing your ticket, all you have to do is show up and have fun! Make sure to apply at least four days before class time or tickets will sell out, whichever comes first.</p>
          </div>
        </div>
      </div>

    </section>
    <section class="row section text-light" style="background-color: #E9E9E9">
      <div class="row-content buffer even clear-after">
       <div class="meta-social">
        <ul class="inline center">
          <li><a href="http://bit.ly/2DOU6ve" class="twitter-share border-box" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li><a href="http://bit.ly/2rk8ZCZ" class="facebook-share border-box" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li><a href="http://bit.ly/2Dp5tZo" class="instagram-share border-box" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
        </ul>
      </div>

        <div class="paragraph" style="text-align:left;"><strong><font color="#2a2a2a"><font size="5">What Does FITT Stand For?</font><br /><br /><font size="6">&#8203;</font></font></strong><font color="#2a2a2a">A lot of us want to lose weight and a lot of us have been subjected to the fad diets and training exercises. Online videos and commercials trying to sell us a quick fix to lose weight. Titles ranging from "lose 10 kilos in 3 days" to "have shredded abs in a week"; we've all seen them. The reality is, though, the only way to properly lose weight is hard work combination of a healthy diet and an integrated&nbsp;exercise program.</font>
            <br />
            <br /><font color="#2a2a2a">This is where the FITT Methodology steps in. FITT stands for frequency, intensity, time, and type. Let's explain each separately:&#8203;</font>
            <ul style="color:rgb(85, 85, 85)">
                <li><span style="font-weight:700">Frequency</span>&nbsp;is how often you exercise. This is&nbsp;measured&nbsp;by number of days you exercise&nbsp;each week.</li>
                <li><span style="font-weight:700">Intensity</span>&nbsp;is how hard your exercise. It is divided into low, moderate, or high intensity.</li>
                <li><span style="font-weight:700">Time</span>&nbsp;is how long each session lasts and at what time of the day it takes place.</li>
                <li><span style="font-weight:700">Type</span>&nbsp;of the exercise you are doing:&nbsp;cardio,&nbsp;strength training, or a combination of the two.</li>
            </ul>
            <br /><strong style="color:rgb(239, 239, 239)"><font size="5"><font color="#2a2a2a">How Do These Pieces Fit Together?</font><font color="#3f3f3f">&#8203;</font></font></strong>
            <br />
            <ul style="color:rgb(85, 85, 85)">
                <li><font color="#3f3f3f"><strong>Understand workout types.</strong>&nbsp;Know the difference between high and low intensity workouts.</font></li>
                <li><font color="#3f3f3f"><strong>Know your goal.</strong>&nbsp;Do you want to lose weight, gain strength, or increase stamina?</font></li>
                <li><font color="#3f3f3f"><strong>Be realistic.</strong>&nbsp;Set out realistic goals that you can achieve within a reasonable timeline.</font></li>
                <li><font color="#3f3f3f"><strong>Know your resources</strong>. Do you have time to prep meals? What's your budget? How much can you spend</font></li>
                <li><font color="#3f3f3f"><strong>Dream big,</strong>&nbsp;but know where you stand. Self-awareness is a key to progression</font></li>
                <li><font color="#3f3f3f"><strong>Readjust your plan.</strong>&nbsp;The FITT Methodology is crafted for flexibility, make use of it&nbsp;</font><span style="color:rgb(63, 63, 63)">as you progress</span><font color="#3f3f3f">.</font></li>
            </ul><strong style="color:rgb(42, 42, 42)"><br /></strong>
            <br />
        </div>
      </div>
    </section>
      </div><!-- row -->
    </main><!-- main -->
  </div>
