<div class="portfolio">
    <%=render "nav"%>

    <main role="main">
      <div id="intro-wrap" data-height="22.222">
        <div id="intro" class="preload darken">
          <div class="intro-item"  style="background-image: url('<%= image_path "community.png"%>')">
            <div class="caption urban">
              <h2>Explore the LocalFitt community</h2>
            </div><!-- caption -->
          </div>
        </div><!-- intro -->
      </div><!-- intro-wrap -->

      <div id="main" class="row">
        <div class="row-content buffer clear-after" style="background-color: #fff">
          <ul class="inline cats filter-options">
            <li data-group="advertising">Collaborators</li>
            <li data-group="fun">Trainers</li>
          </ul>
          <div class="grid-items portfolio-section preload">
            <article class="item column four" data-groups='["fun", "icons"]'>
              <figure>
                <%=image_tag "rana.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Rana Khalil</h2>
                  <p>Rana, a top Personal Trainer of her time, has been giving Pilates classes for over two years now.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["advertising", "icons"]'>
              <figure>
                <%=image_tag "clea.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Spoonful</h2>
                  <p>Clea Daher, founder of Spoonful, is a nutrition consultant and healthy foods maker. Holding a range of experience from hospital settings, food services, and clinical nutrition, Clea is a believer in keeping balance between fitness and nutrition.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["advertising", "icons"]'>
              <figure>
                <%=image_tag "kalai.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Kalei Coffee Co</h2>
                  <p>Kalei is a specialty coffee company and micro-roastery based in Beirut, They source the world's highest quality coffee beans driectly from farmers around the world.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>

            <article class="item column four" data-groups='["advertising", "icons"]'>
              <figure>
                <%=image_tag "christina.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Christina Zakhem</h2>
                  <p>As a Holistic Heath Coach, Christina approaches health beyond just the borders of food and exercise and helps people develop individual strategies to enact lasting lifestyle changes that enhance their overall wellness.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["fun", "icons"]'>
              <figure>
                <%=image_tag "jad.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Jad Nasr</h2>
                  <p>Jad Nasr is a natural athlete seeking to grow physically, mentally, and spiritually. His passion and love grows for helping people in achieving their fitness and health goals.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["fun", "icons"]'>
              <figure>
                <%=image_tag "jad_assi.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Jad Aassi</h2>
                  <p>Jad is a natural athlete seeking to grow physically, mentally, and spiritually. His passion and love grows for helping people in achieving their fitness and health goals by being both a fitness instructor and a healthy foods chef.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["advertising", "icons"]'>
              <figure>
                <%=image_tag "mira.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Mira Abed Rabbo</h2>
                  <p>Mira Abed Rabbo is a licensed dietitian and the owner of Mira Nutri Clinic. Mira works also as a health editor in one of the most important Arabic portals. She has a passion for spreading awareness about Nutrition and diet.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>

            <article class="item column four" data-groups='["fun", "icons"]'>
              <figure>
                <%=image_tag "diala.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Diala El Khazen</h2>
                  <p>Diala has been a track and field athlete for 10 years and counting! She developed what started as a passion for sports into a career. She’s been working in the fitness industry for the past 5 years and currently she’s a Nike master trainer.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>

            <article class="item column four" data-groups='["fun", "minimal"]'>
              <figure>
                <%=image_tag "sharon.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Sharon Ghanime</h2>
                  <p>Sharon, a cofounder of Say., a multi-disciplinary communication agency, is also an 8 year yoga veteran and a 3 year yoga instructor.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["advertising", "icons"]'>
              <figure>
                <%=image_tag "pure.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>MD Trading</h2>
                  <p>MD Trade is a Beirut based startup that is focused on providing the Lebanese market with the healthiest snack alternatives from around the world.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["advertising", "minimal"]'>
              <figure>
                <%=image_tag "beroot.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Vanessa Daher</h2>
                  <p>Looking for a variety of local healthy food recipes? Vanessa, founder of Be.Root, has established a website just for that!</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <article class="item column four" data-groups='["advertising", "lightbox", "web-design"]'>
              <figure>
                <%=image_tag "blue.png"%>
              </figure>
              <a class="overlay">
                <div class="overlay-content">
                  <div class="post-type"></div>
                  <h2>Blue tea house</h2>
                  <p>Blue House Tea is a cozy, vibrant place that provides with an escape from Beirut’s busy noises. It houses its branded Blue House Tea, a must-try English Tea for all tea party enthusiasts.</p>
                </div><!-- overlay-content -->
              </a><!-- overlay -->
            </article>
            <div class="shuffle-sizer four"></div>
          </div><!-- grid-items -->
        </div><!-- row-content -->
        <section class="row section text-light">
          <div class="row-content buffer even clear-after">
            <div class="column four centertxt">
              <div class="big-icon red"><%=image_tag "train.png"%></div>
              <div class="big-icon-text clear-after">
                <h4 style="color: #000">Train</h4>
            <p class="text-s" style="color: #000">Share your passion.</p>
                <!-- <a class="button transparent black">Read more</a> -->
              </div>
            </div>
            <div class="column four centertxt">
              <div class="big-icon red"><%=image_tag "host.png"%></div>
              <div class="big-icon-text clear-after">
                <h4 style="color: #000">Host</h4>
            <p class="text-s" style="color: #000">Let the world see your space.</p>
                <!-- <a class="button transparent black">Read more</a> -->
              </div>
            </div>
            <div class="column four last centertxt">
              <div class="big-icon red"><%=image_tag "volunteer.png"%></div>
              <div class="big-icon-text clear-after">
                <h4 style="color: #000">Volunteer</h4>
            <p class="text-s" style="color: #000">Let's have fun.</p>
                <!-- <a class="button transparent black">Read more</a> -->
              </div>
            </div>
          </div>
        </section>

      </div><!-- row -->

    </main><!-- main -->

<%=render "contact"%>

<!-- <script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/plugins.js"></script>
<script src="js/beetle.js"></script>
 -->

</div>
