
<!-- Sign In Popup -->
<div id="book<%=lesson.id%>" class="zoom-anim-dialog mfp-hide sign-in-dialog">
  <div id="sign-in-dialog">

    <div class="small-dialog-header">
      <h3>Book <%=lesson.name%></h3>
    </div>

    <!--Tabs -->
    <div class="sign-in-form style-1">

      <ul class="tabs-nav sign-nav">
        <li class=""><a href="#tab9">BOOK</a></li>
        <li class=""><a href="#tab10">Class Description</a></li>
      </ul>

      <div class="tabs-container sign-container alt">

        <!-- Login -->
        <div class="tab-content sign-content" id="tab9" style="display: none;">
        <p><strong>CLASS NAME:</strong> <%=lesson.name%><p>
        <strong>Date:</strong> <%=lesson.start_time.strftime("%H:%M %p")%> <br>
        <strong>Start time:</strong> <%=lesson.start_time.strftime("%H:%M %p")%> <br>
        <strong>End time:</strong> <%=lesson.end_time.strftime("%H:%M %p")%> <br>
        <p><strong>Studio address:</strong> <%=lesson.listing.city%>, <%=lesson.listing.street%> <%=lesson.listing.landmark%><p>
        <p><strong>PRICE:</strong> $<%=number_with_precision(lesson.price, :precision => 2)%><p>
          <%= simple_form_for [@booking],  html: { id: "login" } do |f| %>
              <%=f.input_field :lesson_id, as: :hidden, value: lesson.id%>
              <%=f.input_field :day, as: :hidden, value: day%>
          <% if current_user.phone.empty?%>
              <p class="form-row form-row-wide">
                <label for="username">Your phone number:
                  <i class="im im-icon-Telephone"></i>
                  <%= f.input_field :phone, label: false, required: "required" %>
                </label>
              </p>
            <%end%>
            <%=f.submit 'Confirm booking', class: 'button border margin-top-5'%>
            <%end%>
        </div>
        <!-- Register -->
        <div class="tab-content sign-content" id="tab10" style="display: none;">
          <p><%=lesson.description%></p>
        </div>
      </div>
    </div>
  </div>
</div>
